<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @reservation.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @reservation.end %>
</p>

<p>
  <strong>Price:</strong>
  <%= @reservation.price %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
